body {
    background: url("../images/dust_scratches/dust_scratches.png");
font-family: 'Prosto One', cursive;
}

img {
    border: 2px solid black;
}

p {
    text-align: center;
 }

#currentScore {
   text-align: center;
   padding-bottom: 35px;
   border: 3px solid green;
   background: pink;
   margin-left: 158px;
   margin-right: 165px;

}

#wins {
    text-align: center;
}

#losses {
    text-align: center;
}

#targetScore {
    text-align: center;
    padding-bottom: 35px;
    border: 3px solid green;
    background: pink;
    margin-left: 115px;
    margin-right: 115px;
    margin-bottom: 20px;

}
